* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Smythe', sans-serif;
  color: #000000;
  background-color: antiquewhite;
}

.app {
 display: flex;
 flex-direction: column;
 background-color: #fff;
}