.header {
    width: 600px;
    height: 167px;
    background-image: url('../img/headerImage.png');
    background-size: contain;
    color: #fff;
}

.header > h1 {
    margin: 45.73px 0 0 46.51px;
    font-weight: 400;
    font-size: 39px;
    line-height: 24px;
}

.header > h2 {
    margin:18.11px 0 0 46.51px;
    font-weight: 400;
    font-size: 22.42px;
    line-height: 13.8px;

}